# Section 1: Introduction to Jupyter-Notebooks
## Cell Types
In Jupyter-Notebooks there are two main types of cells:
* **Code:** where python (or other languages) code will be written and executed
* **Markdown:** where documentation and organizational details can be written. Interprets the Markdown language.

This cell is a Markdown cell. Click on this cell to expose the underlying Markdown code.

In addition, in the toolbar directly above, cells can be toggled between *code* and *Markdown*. Additional buttons in the toolbar above allow for cutting, copying, pasting, executing, and stopping cells. Keyboard shortcuts also allow for running these commands without needing to click on the toolbar.

## Printing and Getting Help
Use the **print** command to print variables.

In [ ]:
print('Hello, World!')

With Jupyter notebooks, calling the variable itself acts as a print statement.

In [ ]:
'Hello, World!'

In python, variable assignment is denoted with the equal sign (=).

In [ ]:
msg = 'Hello, World!'
print(msg)

Getting help is easy in Notebooks: append a '?' to the end of a function/variable.

In [9]:
print?

Jupyter-Notebooks also allow for tab-completion. This can be tremendously helpful in seeing what functions are available. Move the cursor to the function below and hit the tab key.

# Section 2: Introduction to Python

## Basic Data Types in Python

### Integers, Floats, and Mathematic Operations
Integers are numbers without a decimal point.

In [10]:
print(1, type(1))

1 <class 'int'>

Floats are numbers with a decimal point.

In [11]:
print(1.3, type(1.3))

1.3 <class 'float'>

Adding a decimal point will convert an integer to a float.

In [12]:
print(1., type(1.0))

1.0 <class 'float'>

These are the basic operators in python:

In [ ]:
print(4 + 2)   # Addition
print(4 - 2)   # Substraction
print(4 * 2)   # Multiplication
print(4 / 2)   # Division
print(4 % 2)   # Remainder (modulo)
print(4 ** 2)  # Exponent

Floats dominate integers in operations:

In [ ]:
print(4 + 2.)
print(4 / 2.)
print(4 ** 2.)
print(4 // 2)  # Except for integer division!

In [ ]:
5 // 2

Python also supports scientific notation and complex numbers:

In [ ]:
print(1e3)
print(2+3j)

The numeric classes are special in that they allow in-place assignment for convenience.

In [ ]:
## Make new variable.
x = 1.

## In-place addition
x += 1.
print(x)

## In-place multiplcation.
x *= 2.
print(x)

## In-place exponentiation.
x **= 2.
print(x)

### Checkpoint: In-place operations.
How would you do in-place subtraction? Division?

In [4]:
## Make new variable
x=54
## In-place subtracion
x-=6
print(x)
## In-place division
x/=4
print(x)

48
12.0

### Booleans
The Boolean objects in Python are the **True** and **False** objects.

In [ ]:
print(True, False)

These are the comparison operators in python:

In [5]:
print('4 > 2:  %s' %(4 > 2))    # Greater than
print('4 < 2:  %s' %(4 < 2))    # Less than
print('4 == 2: %s' %(4 == 2))   # Equal to
print('4 >= 2: %s' %(4 >= 2))   # Greater than or equal to
print('4 <= 2: %s' %(4 <= 2))   # Less than or equal to
print('4 != 2: %s' %(4 != 2))   # Not equal to

4 > 2:  True
4 < 2:  False
4 == 2: False
4 >= 2: True
4 <= 2: False
4 != 2: True

In [6]:
print('4 < 8: %s'%(4 < 2))
print('4 > 8: %s'%(4 >8))

4 < 8: False
4 > 8: False

In Python, True and False are equvalent to the integers 1 and 0, respectively.

In [7]:
print(True == 1)   # True is equivalent to 1.
print(False == 0)  # False is equivalent to 0.

True
True

Another way to demonstrate this point is to convert booleans to integers.

In [8]:
print( int(True) )
print( int(False) )

1
0

Python also uses **is** and **not** operators as another means of checking for equality of numbers...

In [1]:
x=4
z=4

print(4 is 2)
print(4 is not 2)

False
True

<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/tmp/ipython-input-489740180.py:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(4 is 2)
/tmp/ipython-input-489740180.py:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(4 is not 2)

In [2]:
y=6
x=6
print (6 is 2)
print (6 is not 2)

False
True

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/tmp/ipython-input-3667089399.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print (6 is 2)
/tmp/ipython-input-3667089399.py:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print (6 is not 2)

HOWEVER, **is** is technically checking if objects are identical. So stick to == when comparing **values**

In [ ]:
x=['hello']
y=['hello']
z=x
print(x is y)
print(x == y)
print(x is z)

### Checkpoint: Comparisons
Digital computers have memory limitations and cannot represent arbitrarily large and small numbers. Using Scientific notation (e.g. 1e-10) and the *equals to* operator (==), find an arbitrarily small number that is equal to zero.

In [18]:
x=5e-168
print(x==0)

False
5e-168

### Text and Strings

Strings are demarcated by single or double quotation marks.

In [ ]:
string = 'a run-of-the-mill string'
string

Paragraphs (e.g. docstrings) can be written with triple quotes:

In [ ]:
paragraph = """You can use the triple quotes to write paragraphs
of text. Note that any line-break is maintained. Triple quotes are
used to define function docstrings."""

paragraph

One very useful feature is string substition, where text or numbers can be inserted into a string. String substitution is denoted by the by the percent operator. Different substitutions types exist.

In [19]:
# %s: Insert as string (no modification).
name = "Bear"
print('Hi, my name is %s!' %name)

Hi, my name is Bear!

In [35]:
# %s: Insert as string (no modification).
name = "rita"
print('hi, my name is %s!' %name)

hi, my name is rita!

In [34]:
# %s: Insert as string (no modification).
name = "Bear"
print('Hi, my name is %s!' %name)

Hi, my name is Bear!

In [20]:
# %0._f: Insert a number rounded to the _th digit.
pi = 3.14159
print('Pi to the 2nd digit is %0.2f.' %pi)

Pi to the 2nd digit is 3.14.

In [36]:
# %0_f: Insert a number rounded to the _the dight.
e = 2.71828
print('e to the 2nd digit is %0.2f.' %e)

e to the 2nd digit is 2.72.

In [ ]:
# %0._d: Insert a number prepended with _ zeros.
num = 1
print('Prepend two zeros: %0.3d' %num)

A new method for string substitution is f-strings.

In [ ]:
print( f"When you think about it, aren't we all just {string}?" )

The string object has many associated functions that can be used to modify the string.

In [ ]:
## Capitalize string.
capitalized = string.capitalize()
print('Capitalize:    %s' %capitalized)

## Uppercase string.
upper = string.upper()
print('Uppercase:     %s' %upper)

## Count "i"s.
num_is = string.count('i')
print('Count "i"s:    %s' %num_is)

## Replace "i" for "o"s.
io = string.replace('i','o')
print( 'Replace (i,o): %s' %io)

Strings are easily combined, through with the
addition operator or the join attribute.

In [39]:
## Strings joined with addition operator.
joined = 'This is the first half.' + ' ' + 'This is the second half.'
print(joined)

## Strings joined with the join function.
joined = ' '.join(['This is the first half.', 'This is the second half.'])
print(joined)

This is the first half. This is the second half.
This is the first half. This is the second half.

Python has incredibly powerful natural language processing packages, including NLTK and Scrapy.

## Containers
### Lists
Lists are the most basic container and are denoted by brackets. Lists can store any pythonic type, and elements of a list do not need to be of the same type.

In [ ]:
example_list = [1, 1., 1e3, 2+3j, True,'Bear is cute']
print(example_list)

Brackets are used again to index into lists. **NOTE:** Python is a 0-indexed language. The first element of a list
is the 0th position of the list!

In [56]:

example_list = [1, 1., 1e3, 2+3j, True,'Bear is cute']
print(example_list)


elem_first = example_list[0]
print('The first element of the list is %s.' %elem_first)

elem_third = example_list[2]
print('The third element of the list is %s.' %elem_third)

elem_last = example_list[-1]
print('The last element of the list is %s.' %elem_last)

[1, 1.0, 1000.0, (2+3j), True, 'Bear is cute']
The first element of the list is 1.
The third element of the list is 1000.0.
The last element of the list is Bear is cute.

In [ ]:
example_list = [1, 1., 1e3, 2+3j, True,'Bear is cute']
print(example_list)

Mutliple elements from a list can be retrieved through slicing, which uses the colon operator.

In [62]:
print(example_list[1:3])    # Second-through-third elements (up-to-not-include)
print(example_list[1:])     # Second element onwards.
print(example_list[:2])     # Up to (but not including) the third element element.

[1.0, 1000.0]
[1.0, 1000.0, (2+3j), True, 'Bear is cute']
[1, 1.0]

Slicing also allows for the following operations:

In [ ]:
## Original list.
print('list       = %s' %example_list)

## Second-to-last element onwards
print('list[-2:]  = %s' %example_list[-2:])

## Up to second-to-last element
print('list[:-2]  = %s' %example_list[:-2])

## Every other element
print('list[::2]  = %s' %example_list[::2])

## Reverse elements.
print('list[::-1] = %s' %example_list[::-1])

Slicing operators can be combined. Here we extract every other element, starting from the second through the second-to-last.

In [ ]:
print(example_list[1:-1:2])

Strings are actually just lists of characters and can be indexed in the same as as lists.

### Checkpoint: Manipulating Lists
The goal of this exercise is to get used to making and manipulating lists. The elements of the to-be list are:

In [ ]:
3 'Yankee' 7.6 None False 2.5e-2 'Foxtrot'

Store the elements above in a new list.

In [50]:
Tobe_list = ['Yankee', 7.6, None, False, 2.5e-2,'Foxtrot']
print(Tobe_list)

['Yankee', 7.6, None, False, 0.025, 'Foxtrot']

Return the 3rd element of the list.

In [59]:
Tobe_list = ['Yankee', 7.6, None, False, 2.5e-2,'Foxtrot']
elem_third = Tobe_list[2]
print('The third element of the list is %s.' %elem_third)

The third element of the list is None.

Return the 2nd-to-last element of the list.

In [61]:
Tobe_list = ['Yankee', 7.6, None, False, 2.5e-2,'Foxtrot']
elem_last = Tobe_list[4]
print('The second to last element of the list is %s.' %elem_last)

The second to last element of the list is 0.025.

Return every third element, starting from the 2nd element.

In [64]:
Tobe_list = ['Yankee', 7.6, None, False, 2.5e-2,'Foxtrot']
elem_third = Tobe_list[1:]
Print(The third element starting with the second element)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-3477154429.py, line 3)

#### Back to lists
Indexing and slicing can also be used to update elements in the list.

In [ ]:
example_list = [1, 1., 1e3, 2+3j, True]
example_list[-1] = False
example_list

We can add new elements to the list using **append**. Note that this occurs **in-place.**

In [ ]:
example_list.append( 111 )
example_list

**Insert** allows for adding new elements to specified positions.

In [ ]:
## (Index, Value)
example_list.insert(0, 222)
example_list

Elements can be removed from a list using the **pop** or **remove** function. **Pop** deletes an element by its index, **remove** deletes an element by its value.

In [ ]:
print('Before: %s' %example_list)

## Pop the third element
example_list.pop(2)

## Remove the value 111.
example_list.remove(111)

print('After: %s' %example_list)

The contents of a list can also be tested with the **in** operator.

In [ ]:
print( 222 in example_list )
print( 999 in example_list )

As an aside, strings are essentially lists with characters.

In [ ]:
print('string       = %s' %string)

## 4th character onwards.
print('string[4:]   = %s' %string[4:])

## Reversed string.
print('string[::-1] = %s' %string[::-1])

## Every other character.
print('string[::2]  = %s' %string[::2])

### Tuples
Tuples are denoted by parantheses. Tuples are like lists except that they are **immutable.** Tuples cannot be modified once they are created.

In [ ]:
example_list = [1, 2, 3, 4]
example_tuple = (1, 2, 3, 4)

In [ ]:
## Change the second element of the list.
example_list[1] = 9
print(example_list)

In [ ]:
## Change the second element of the tuple.
example_tuple[1] = 9
print(example_tuple)

### Dictionaries
Dictionaries are simple lookup tables. They are denoted by curly brackets.

In [ ]:
example_dict = {'a':1, 'b':2, 'c':3}
print(example_dict)
print(example_dict['c'])

Dictionaries can also be generated using the **dict()** command. Notice the slightly different syntax.

In [ ]:
example_dict = dict(a=1, b=2, c=3)
print(example_dict)
print(example_dict['c'])

Dictionaries are comprised of "keys" and "values".

In [ ]:
print(example_dict.keys())
print(example_dict.values())

Once initialized, new key/value pairs can be stored in a dictionary.

In [ ]:
example_dict['d'] = 4
print(example_dict)

One nice feature of dictionaries is the **get** operator. This allows us to safely check for and return items in a dictionary.

In [ ]:
example_dict.get('not_here', False)

## Control Flow in Python

### For and While Loops
For loops have a very simple syntax.

In [ ]:
for x in [0, 1, 2, 3, 4]:
    print(x)

The same can be accomplished with **range**.

In [ ]:
for x in range(5):
    print(x)

Elements of a list can be directly iterated over in python.

In [ ]:
for x in ['how', 'now', 'brown', 'cow']:
    print(x)

For loops can be paired with the **enumerate** command for indexing.

In [ ]:
for i, x in enumerate([2,4,1,2]):
    print(i,x)

The **zip** command can be used to iterate over multiple lists at once.

In [ ]:
list1 = [0, 2, 4, 6, 8]
list2 = ['zero', 'two', 'four', 'six', 'eight']

for a,b in zip(list1,list2):
    print(a,b)

A fun notation is to combine **zip** and **enumerate**.

In [ ]:
for i, (a, b) in enumerate(zip(list1, list2)):
    print(i, a, b)

**While** loops are similarly simple. While loops are initialized with a boolean statement. While True, the while loop will continue executing. Once False, the while loop terminates.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

### Conditional logic with if, elif, else

In python, the three conditional statements are if, elif, and else.
Here we will construct a simple for-loop testing parity.

In [ ]:
example_list = [4, 7, 9.4]

for x in example_list:

    if x % 2 == 0:
        print('%s is even.' %x)

    elif x % 2 == 1:
        print('%s is odd.' %x)

    else:
        print('%s is not an integer.' %x)

### Contiue and Break statements
Conditional logic statements can be paired with the "continue" and "break"
statments for additional control flow in For and While loops. The "continue"
statement skips the current iteration of a For/While loop, whereas the
"break" statement terminates the For/While loop.

Below is an example of the continue statement. The for loop skips at the odd numbers.

In [ ]:
example_list = [4, 7, 9.4]

for x in example_list:

    if x % 2 == 0:
        print('%s is even.' %x)

    elif x % 2 == 1:
        continue
        print('%s is odd.' %x)

    else:
        print('%s is not an integer.' %x)

An example of the **break** statement. The for loop terminates at the first odd number.

In [ ]:
example_list = [4, 7, 9.4]

for x in example_list:

    if x % 2 == 0:
        print('%s is even.' %x)

    elif x % 2 == 1:
        break
        print('%s is odd.' %x)

    else:
        print('%s is not an integer.' %x)

### Checkpoint: For/While Loops
Using a **for** or **while** loop, iterate over all integers in the range [0,250] and print every integer divisible by 11.

### List comprehensions
Python also allows for embedding For loops within lists as a nifty way of constructing/modifying lists. List comprehensions are very powerful (though sometimes memory intensive) and can be constructed with a few different syntaxes.

In [ ]:
example_list = [0,1,2,3,4]

[x for x in example_list]

Inclusive/exclusive list comprehension: here we exclude variables from the list if they do not meet a certain criterion.

In [ ]:
[x for x in example_list if x > 2]

Conditional list comprehension: here we transform variables from the list based on whether they meet a certain criterion.

In [ ]:
['odd' if x % 2 == 1 else 'even' for x in example_list]

Note that else statements can be chained in list comprehensions.

In [ ]:
example_list = [4, 7, 9.4]

['odd' if x % 2 == 1 else 'even' if x % 2 == 0 else 'non-integer' for x in example_list]

### Error handling with try/except logic.
Python allows for intelligent error handling with the "try" and "except" logics. Code nested under a "try" command will be evaluated. If an error arises under a try block, the code in the except block will be evaluated instead. This is useful for handling exceptions and preventing scripts from breaking. Use with caution though if you cannot predict error corner cases!

Here we will test try/except logic with a division-by-zero error. Note that I am specifying the error class, i.e. ZeroDivisionError. Python has a number of built-in error types, and it is better to specify the exact type of error you expect to ensure that only those types of errors are passed to the except block. Multiple excepts are permissible in try/except workflows.

In [ ]:
## An example divide by zero error.
example_list = [2, 10, 0]

for x in example_list:
    print(20 / x)

In [ ]:
## An example try/catch handling divide by zero errors.
example_list = [2, 10, 0]

for x in example_list:
    try:
        print(20 / x)
    except ZeroDivisionError:
        print('You cannot divide 0, silly!')

In [ ]:
## Another way to handle errors with fewer lines is using the assert function
example_list = [2, 10, 0]

for x in example_list:
    assert x!=0,'You cannot divide 0, silly!' # notice lack of parentheses
    print(20 / x)

## Basic Commands in Python

https://docs.python.org/3/library/functions.html

The most important command is the **range** command.

In [ ]:
print('range(5)     = %s' %range(5))     # Specify stop position.
print('range(0,5)   = %s' %range(1,5))   # Specify start & stop position
print('range(0,5,2) = %s' %range(0,5,2)) # Specify start, stop, and by.

for x in range(0,5,2):
    print(x)

Each python type has its own function for the purpose of converting variables to different types.

In [ ]:
X = range(5)

print( int(7.4) )            # To integer.
print ( float(7) )           # To float.
print( list(X) )             # Range as list.
print( tuple(X) )            # Range as tuple.
print( str([1, 12, 4]) )     # Range as string (converts to string literally).

The **type** and **isinstance** commands can be used to check the type of variables.

In [ ]:
X = [1, 4, 5, 2]

print( type(X) )
print( type(X) == str )
print( isinstance(X, list) )

There are commands to modify lists.

In [ ]:
example_list = [4, 1, 5, 2, 7, 1, 2, 3]

print(sorted(example_list))    # Sort list.
print(set(example_list))       # Get unique elements of list. Returns set.

In [ ]:
## There are also commands to summarize lists.
print(len(example_list))    # Count element in list.
print(sum(example_list))    # Sum across list.
print(min(example_list))    # Min across list.
print(max(example_list))    # Max across list.

In [ ]:
## The any/all commands are very useful for testing if any
## conditionals are met in a list.
example_list = [True if x > 2 else False for x in range(5)]
print(example_list)
print(any(example_list))
print(all(example_list))

## Defining Functions
Define new functions with **def** and **return** functions. Any arguments specified in the **def** statement are necessary arguments for the newly defined function.

In [ ]:
def average(X):
    '''Compute arithmetic mean for list, X.'''
    return sum(X) / len(X)

average?

In [ ]:
## Define an example list.
example_list = [2, 2, 2, 3, 3, 2, 1, 4]

## Compute average.
print( 'Average: %0.3f' %average(example_list) )

Arguments of user-defined functions can also be assigned default parameters.

In [ ]:
def average(X, weights=False):
    """Compute arithmetic mean.

    Parameters
    ----------
    X : list, shape (n,)
        A list of values.
    weights : list, shape (n,)
        A list weights associated with the values in `X`.

    Returns
    -------
    mu : float
        (Weighted) average.
    """
    if not weights: weights = [1] * len(X)
    return sum( [x*w for x,w in zip(X,weights)] ) / sum(weights)

Let's make sure it works.

In [ ]:
## Define some weights.
weights = [1, 1, 1, 0.5, 0.5, 2, 4, 0.25]

## Compute average / weighted average.
print( 'Average:          %0.3f' %average(example_list) )
print( 'Weighted average: %0.3f' %average(example_list, weights) )

In [ ]:
## The lambda operator can also be used to define short functions.
average = lambda X: sum(X) / len(X)

print( 'Average: %0.3f' %average(example_list) )